<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katalysator.katexampleapp" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.katalysator.katexampleapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.katalysator.katexampleapp.START_FROM_KAT_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.katalysator.sdk.engine.KATAdvertImageActivity">
        </activity>

        <receiver android:enabled="true"
                  android:exported="true"
                  android:isolatedProcess="false"
                  android:label="iBeacon"
                  android:name="com.katalysator.sdk.beacon.service.KATBeaconReceiver">
        </receiver>

        <service android:enabled="true"
                 android:isolatedProcess="false"
                 android:label="iBeacon"
                 android:name="com.katalysator.sdk.beacon.service.IBeaconService">
        </service>

        <service android:enabled="true"
                 android:name="com.katalysator.sdk.beacon.IBeaconIntentProcessor">
            <meta-data android:name="background" android:value="true" />
            <intent-filter
                    android:priority="0" >
                <action android:name="com.katalysator.sdk.DID_RANGING" />
                <action android:name="com.katalysator.sdk.DID_MONITORING" />
            </intent-filter>
        </service>

        <service android:enabled="true"
                 android:name="com.katalysator.sdk.geofence.KATGeofenceIntentService"
                 android:exported="true">
        </service>

    </application>

</manifest>
